<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/style.css" type="text/css">

    <!-- fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    

</head>
<body>
    <div id="navbar">
        <div id="logo">DAILY JOURNAL</div>
        <div class="item"><a href="/">HOME</a></div>
        <div class="item"><a href="/about">ABOUT US</a> </div>
        <div class="item"><a href="/contact">CONTACT US</a></div>
    </div>
     <button id="nav-item" onclick="navButton()"><i class="fa-solid fa-bars" style="font-size: xx-large;"></i></button>

   <div id="nav"></div>
    
</body>
</html>