<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <h1>Concatenated Result: <%= concatenated %></h1>
    <ul>
        <% strings.forEach(function(string) { %>
            <li><%= string %></li>
        <% }); %>
    </ul>
    <a href="/">Go Back</a>
</body>
</html>
